.timetable
{
	margin-top: 20px;
	border-top: 1px solid #DDDDDD;
	th, td
	{
		text-align: left;
		width: 1%;
	}
	td.inStudentTimetable
	{
		background-color: #DFF0D8;
	}
	td, th
	{
		border: 1px solid #DDDDDD;
	}
}